html{
	background:url('/static/img/bg.png');
}
body{
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		/*background-color: whiteSmoke;*/
		background:url('/static/img/bg.png');
}
html body .container{
	width: 960px;
}
.row-fluid .span4{
  width: 270px;
}
.row-fluid.span8{
  width: 680px;
}
.container-fluid{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.widget {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fefefe;
  border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.main {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
/* user-panel */
#user-panel{
  padding: 20px;
}

/*photos*/
.photos ul{
	margin:0;
	padding:0;
}

.photos li{
	display:inline-block;
	margin:2px auto 0px;
	color:#333;
	padding:3px 3px;
	border-radius:5px;
	width:105px;
	height:105px;
}
.photos a{
	text-decoration:none;
}
.photos img{
	border:1px solid #DEE1E4;
	padding:1px;
}

.photos img:hover{
	border-color:#60a5ff;
}

/* list */

ul.thread-list{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
}
ul.thread-list li{
	width: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e9ecee;
	position: relative;
	min-height: 50px;
	display: inline-block;
}
ul.thread-list:after,ul.thread-list::after
{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
ul.thread-list li::after,ul.thread-list li:after {
	content: ".";
	display: block;
	font-size: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}
ul.thread-list li:nth-child(odd) {
  background-color: #f9f9f9;
}

ul.thread-list li:hover{
	background-color: #f0f0f3;*/
}
ul.thread-list .post-meta,.thread-content .post-meta {
	padding-top: 6px;
	display: inline-block;
}
ul.thread-list .author{
	color: #737311;
}
ul.thread-list .stamp,.node {
	color: #999;
}
ul.thread-list .post-title,.tweet-text{
	display: block;
}
ul.thread-list .post-title a{
	font-size: 16px;
	line-height: 24px;
	padding:3px 0;
}

ul.thread-list .avatar,.thread-content .avatar{
	margin: 5px;
	float: left;
}

/*
ul.thread-list .avatar img{
	border:1px solid #DEE1E4;
	padding:1px;
	vertical-align: middle;
}
ul.thread-list .avatar img:hover{
    border-color:#60a5ff;
}*/


/**/
div.page-header {
  padding-bottom: 5px;
  margin: 5px 0;
  border-bottom: 1px solid #eeeeee;
}
.thread-meta {
	padding: 5px 0;
	border-top: 1px dashed #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	clear: both;
}

.avatar img{
	border:1px solid #DEE1E4;
	padding:1px;
	vertical-align: middle;
}
.avatar img:hover{
    border-color:#60a5ff;
}
.updates{
	margin-left: 60px;
	margin-right: 44px;
	vertical-align: top;
/*	border-bottom: 1px solid #E3E3E3;*/
	border-top: 1px dashed #E3E3E3;
}

/*comments*/
.comment-content {
	margin: 0 44px;
}

/*profile*/
.vcard dl dt {
  margin: 0;
  float: left;
  width: 100px;
  color: #999;
  font-weight: normal;
}
.vcard dl {
  font-size: 12px;
}

.linenos{
  display: none;
}
.codehilitetable pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  
  word-break: break-all;
  word-wrap: break-word;
}
.codehilitetable{
  width: 672px;
}

.codehilite pre{
  white-space: pre-wrap;
}

.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #f8f8f8; }
.codehilite .c { color: #408080; font-style: italic } /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite .o { color: #666666 } /* Operator */
.codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #808080 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0040D0 } /* Generic.Traceback */
.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #B00040 } /* Keyword.Type */
.codehilite .m { color: #666666 } /* Literal.Number */
.codehilite .s { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #7D9029 } /* Name.Attribute */
.codehilite .nb { color: #008000 } /* Name.Builtin */
.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilite .no { color: #880000 } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0000FF } /* Name.Function */
.codehilite .nl { color: #A0A000 } /* Name.Label */
.codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mf { color: #666666 } /* Literal.Number.Float */
.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite .mi { color: #666666 } /* Literal.Number.Integer */
.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */